@charset "utf-8";

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: azure;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #333;
}

.pop-h1 {
    font-family: 'M PLUS Rounded 1c', 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    color: #8B4513;
    text-shadow:
        2px 2px 0 #fff,
        4px 4px 0 #FFD700;
    transform: rotate(-2deg);
    padding: 10px 20px;
    background-color: #fffaf0;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {

    .pop-h1,
    .pop-h1-stroke {
        font-size: 2.5rem;
    }

    .pop-h1-gradient {
        font-size: 3rem;
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    border: 1px solid #bbb;
    width: 500px;
    max-width: 90%;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
    background-color: #ccc;
    outline: none;
}